.Button {
  border: 0;
  font-family: monospace;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #111111;
  line-height: 1;
  box-sizing: border-box;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0;
  cursor: pointer;
}

.Button:hover {
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
}

.Button_default {
  background-color: #bbbbbb;
}

.Button_primary {
  color: #efefef;
  background-color: #1f388c;
}

.Button_lg {
  padding: 0 32px;
  font-size: 21px;
  height: 48px;
  text-rendering: optimizeSpeed;
}

.Button_md {
  padding: 0 16px;
  font-size: 14px;
  height: 32px;
}

.Button_disabled {
  pointer-events: none;
}
